---
import Analytics from "@vercel/analytics/astro";
import Nav from "@/components/Nav";
import Footer from "@/components/Footer.astro";
import { ClientRouter } from "astro:transitions";
import "../styles/global.css";

interface Props {
  title: string;
  description: string;
  url?: string;
  shouldIndex: boolean;
}

const { title, description, url, shouldIndex } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta title={title} />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <meta name="author" content="Charlye Castro" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="robots"
      content={shouldIndex ? "index, follow" : "noindex, nofollow"}
    />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://charlyecastro.com/favicon.svg" />
    <meta property="og:url" content={url || "https://charlyecastro.com"} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Charlye Castro" />

    <meta
      property="twitter:image"
      content="https://charlyecastro.com/favicon.svg"
    />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Charlye Castro</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <div id="layout" class="container mx-auto! px-4! flex flex-col grow">
      <ClientRouter />
      <Nav client:load />
      <slot />
      <Analytics />
    </div>
    <Footer />
  </body>
</html>
