---
const { title, description } = Astro.props;
import Nav from "@/components/Nav";
import Footer from "@/components/Footer.astro";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta title={title} />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <meta name="author" content="Charlye Castro" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="index, follow" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content="https://charlyecastro.com" />
    <meta property="og:type" content="website" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Charlye Castro</title>
  </head>
  <body>
    <div class="container mx-auto! px-4!">
      <ClientRouter />
      <Nav client:load />
      <slot />
    </div>
  </body>
  <Footer />
</html>
